# --- Unity ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage

# --- сміття з ОС ---
.DS_Store
.DS_Store.meta
Thumbs.db
**/__MACOSX/
**/__MACOSX.meta

# --- непотрібне з паків ---
**/RPG Maker/
**/RPG Maker.meta
**/PSD/
**/PSD.meta
*.psd
*.psd.meta
**/COUPON*
**/32x32/
**/32x32.meta
**/48x48/
**/48x48.meta
